@import "config";
@import "menu";
@import "animation";

// Initial setup
*,
body {
  @include mainBackground();
  margin: 0;
  padding: 0;
}

// Set the box sizings
* {
  box-sizing: border-box;
}

// Body setup
body {
  background: $primary;
  color: set-text-color($primary);
  font-family: "Montserrat", sans-serif;
  height: 100%;
  line-height: 1.5;
}

// Clear the headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 1.25rem;
    padding: 0.2rem 1rem;
  }
}

// Setup helpers
.text-secondary {
  font-weight: 600;
  color: $secondary;
}

// Setup links
a {
  color: set-text-color($primary);
  text-decoration: none;
}

// Setup section
section {
  padding: 4rem;
  display: block;
}

// Main section
#main {
  height: 100vh;
  text-align: center;
  overflow: hidden;

  h1 {
    margin-top: 5vh;
  }

  h2 {
    color: darken(set-text-color($primary), 25);
  }

  // icons setup
  #icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary;
        text-decoration: none;
        @include easeOut();
      }
    }
  }

  #scroll-icon {
    position: absolute;
    bottom: 7.5vh;
    left: 0;
    width: 100%;
    text-align: center;
    @include easeOut();

    &.hide {
      opacity: 0;
    }

    p {
      font-weight: 300;
      font-size: 0.8em;
      color: darken(set-text-color($primary), 20);
    }

    i {
      color: darken(set-text-color($primary), 20);
      position: absolute;
      bottom: -25px;
      margin-left: -15px;
      animation: jumpArrow 2s linear infinite;
    }
  }
}

#about {
  background: $primary;
  color: set-text-color($primary);

  .lg-heading {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
  }

  .sm-heading {
    padding: 0.5em;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: darken(set-text-color($primary), 35);
  }

  #personal {
    background: lighten($primary, 7.5);
    padding: 2em 0;
    border-radius: 10px;
    #photo {
      grid-area: photo;
      text-align: center;

      #img {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        background: $photo;
        border-radius: 50%;
        background-position: fixed;
        background-size: cover;
        border: 2px solid tgba(lighten($primary, 15), 0.75);
      }
    }

    #bio {
      grid-area: bio;
      padding-right: 1.5em;
    }
  }

  #skills {
    background: lighten($primary, 7.5);
    padding: 2em 0;
    border-radius: 10px;
    ul {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        display: block;
        padding: 1em;
        display: grid;

        div:nth-child(1) {
          text-align: center;
        }

        div:nth-child(2) {
          padding-right: 1.5em;
          p {
            font-size: 0.8rem;
            color: darken(set-text-color($primary), 25);
          }
          div {
            width: 100%;
            background: $primary;
            padding: 0;
            margin: 5px 0 0 0;
            border-radius: 50px;
            font-size: 0.75rem;

            div {
              background: darken($secondary, 15);
              color: #fff;
              text-align: right;
              padding: 2.5px 25px 2.5px 0;
            }
          }
        }
      }
    }
  }
}

#projects {
  background: $secondary;
  color: set-text-color(darken($secondary, 15));

  .lg-heading {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;

    span {
      color: $primary;
    }
  }

  .sm-heading {
    padding: 0.5em;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: darken(set-text-color($primary), 35);
  }

  #project-cards {
    div {
      background: #fff;
      color: set-text-color(#fff);
      padding: 0;

      .img-card {
        width: 100%;
        height: 175px;
        background: #000;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      h3 {
        font-size: 1.5rem;
        padding: 0.5em 1em 0 0.55em;
        font-weight: 600;
        margin: 0;
        color: lighten(set-text-color(#fff), 35);
      }

      h4 {
        font-size: 1rem;
        padding: 0 1em 1em 0.85em;
        font-weight: 400;
        margin: 0;
        color: lighten(set-text-color(#fff), 35);
      }

      p {
        font-size: 0.825rem;
        padding: 0 1em 1em 1em;
        margin: 0;
        color: lighten(set-text-color(#fff), 45);
      }

      ul {
        list-style: none;
        padding: 0.25em 1em 1em 1em;
        li {
          display: inline-block;
          padding: 0.35em 0.75em;
          font-size: 0.75rem;
          color: lighten($primary, 20);
          background: darken(#fff, 10);
          border-radius: 10px;
          margin: 0 0.5em 0 0;
        }
      }

      .visit-btn {
        padding: 1em;
        display: grid;
        align-items: start;
        grid-template-columns: 10% auto;
        grid-gap: 1em;
        background: darken(#fff, 10);
        color: set-text-color(darken(#fff, 10));
        cursor: pointer;
        @include easeOut();

        i {
          align-self: center;
          justify-self: center;
          font-size: 1.25em;
        }

        p {
          font-weight: 600;
          padding: 0;
          margin: 0;
        }

        &:hover {
          background: darken(#fff, 20);
        }
      }
    }
  }
}

#contact {
  background: $primary;
  color: set-text-color($primary);

  .lg-heading {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
  }

  .sm-heading {
    padding: 0.5em;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: darken(set-text-color($primary), 35);
  }

  #contact-form {
    padding: 0;
    form {
      @include easeOut();
      &.hide {
        display: none;
      }
      div {
        position: relative;
        margin-bottom: 2em;
        label {
          color: darken(set-text-color($primary), 25);
          padding: 0 0 0.35em 0;
          font-size: 0.85rem;
          display: block;
        }
        input {
          width: 100%;
          background: darken(set-text-color($primary), 15);
          padding: 0.75em 1em;
          border-radius: 5px;
          border: 0;
          @include easeOut();
          &:hover {
            background: set-text-color($primary);
          }
          &:focus {
            background: set-text-color($primary);
          }
        }
        textarea {
          width: 100%;
          height: 75px;
          background: darken(set-text-color($primary), 15);
          padding: 0.75em 1em;
          border-radius: 5px;
          border: 0;
          @include easeOut();
          &:hover {
            background: set-text-color($primary);
          }
          &:focus {
            background: set-text-color($primary);
          }
        }
      }
      input[type="submit"] {
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1em;
        background: lighten($secondary, 5);
        border-radius: 5px;
        border: 0;
        color: set-text-color(darken($secondary, 100));
        @include easeOut();
        cursor: pointer;
        &:hover {
          background: darken($secondary, 15);
          color: set-text-color(darken($secondary, 100));
        }
      }
    }
    #mail-success {
      display: none;
      text-align: center;
      @include easeOut();
      &.show {
        display: block;
        @include easeOut();
      }
      i {
        font-size: 6.5rem;
        margin-bottom: 0.25em;
        padding: 0;
        animation: successIcon ease-in 0.5s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
      }
      p {
        color: darken(#fff, 15);
        font-weight: 600;
        font-size: 1.25rem;
      }
    }
  }
}

footer {
  background: darken($primary, 25);
  color: set-text-color($primary);
  text-align: center;
  padding: 1.5em;
  font-size: 0.85em;
  color: darken(set-text-color($primary), 25);
  text-transform: uppercase;
}

@import "mobile";
